@import "tailwindcss";

@theme {
  --color-glass: rgba(255, 255, 255, 0.1);
  --color-glassBorder: rgba(255, 255, 255, 0.2);
}

body {
    @apply bg-slate-950 text-white min-h-screen relative overflow-x-hidden;
    background-image: linear-gradient(to bottom, rgba(15, 23, 42, 0.6), rgba(15, 23, 42, 0.8)), url('https://images.unsplash.com/photo-1504608524841-42fe6f032b4b?q=80&w=2665&auto=format&fit=crop');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}